<div class="container col-6">
    <h3>Add New Author</h3>

    <form action="/authors" method="POST">
        
        <%- include('_form_fields') %> 

        <a class="btn btn-danger" href="/authors">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>

</div>
